.dg-container{
	width: 100%;
	height: 415px;
	position: relative;
}
.dg-wrapper{
	width: 45%;
	//height: 316px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
    //border: 1px solid;
}
.dg-wrapper a{
	width: 100%;
	height: 316px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	//background: transparent url(../images/browser.png) no-repeat top left;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	padding: 0px 0px 0px 1px;
    width: 100%;
    max-height: 350px;
    box-shadow: 0px 0px 20px grey;
}
.dg-wrapper a div{
	//font-style: italic;
    font-family: "Microsoft-YaHei";
	text-align: center;
	line-height: 50px;
	//text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	//font-size: 16px;
	width: 100%;
	//bottom: -55px;
	//display: none;
	//position: absolute;
}
.dg-wrapper a div{
    display: hidden;
    //color: #fff;
    color: #000;
    font-size: 0.8em;
}
.dg-wrapper a.dg-center div{
	display: block;
    //background: #aaa;
}
.dg-container nav{
	width: 58px;
	//position: relative;
	z-index: 1000;
	//bottom: 40px;
	left: 50%;
	//margin-left: -29px;
    display: none;
}
.dg-container nav span{
	text-indent: -9000px;
	float: left;
	cursor:pointer;
	width: 24px;
	height: 25px;
	opacity: 0.8;
	background: transparent url(../images/arrows.png) no-repeat top left;
}
.dg-container nav span:hover{
	opacity: 1;
}
.dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 10px;
}

.head {
    background: #7384AE;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-bottom: 3em;
}

.head img {
    display: block;
    margin: auto;
    margin-bottom: 0.8em;
}

.head img:hover {
    -webkit-filter: drop-shadow(0px 0px 10px #fff);
    filter:         drop-shadow(0px 0px 10px #fff);
}

.head h1 {
    text-align: center;
    color: #ddd;
}

.resume .header {
    background: #7384AE;
    color: #fff;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 0.5em;
    //margin-top: -2.0em;
}

.resume .space {
    display: inline-block;
    width: 2em;
    min-width: 2em;
}
